include config.pug
doctype html

html(lang=config.lang)
	head
		//- block meta for local page config
		block meta
		include head.pug
		
	body
		block content			
			include hero.pug

			include video-section.pug
		//-mixin examples block
		//- +svg('class', 'anchor', 'title', 'desc')
		include modal.pug
		include scripts.pug