//- project config 

-
	var config = {
		lang: 'en',
		title: 'Cloudbudget',
		description: 'Cloudbudget landing page',
		keywords: 'cloudbudget, clouds, software, managment',
		color: '#000000',
		twitter: {
			creator: '@kikeldmitry',
			site: '@kikeldmitry',
		},
	};

include mixins.pug