section.features
	.inner(tabindex=0)
		.featuressec#features
			h2.features__title.section-title Features
			.feat-cont
				.feat-cont__item.feat-item
					.feat-item__img
						img(src="img/feature1.jpg" alt="cash in the hand")
					.feat-item__text
						h3.feat-item__title Supports All Currencies and Cards
						.feat-item__subtitle We support all popular currencies and is fully customizable to add
						button.feat-item__btn(type="button" data-modal="dummy-modal") Read More
				.feat-cont__item.feat-item
					.feat-item__img
						img(src="img/feature2.jpg" alt="cellphone in the hand")
					.feat-item__text
						h3.feat-item__title Manage your expenses on the go
						.feat-item__subtitle You can access your account from anywhere in the world on any device
						button.feat-item__btn(type="button" data-modal="dummy-modal") Read More
				.feat-cont__item.feat-item
					.feat-item__img
						img(src="img/feature3.jpg" alt="office corridor")
					.feat-item__text
						h3.feat-item__title Cloud Budget Management Software
						.feat-item__subtitle Our software is made so you can access and manage your budget
						button.feat-item__btn(type="button" data-modal="dummy-modal") Read More