footer.bot-bar
	.inner
		.footersec
			.footersec__info
				.footersec__col.foot-col
					h3.foot-col__title Address
					address.footer Pipang Ltd, Griva Digeni, 81-83 Jacovides Tower, 1st Floor 1090 Picosia USA
				.footersec__col.foot-col.foot-menu
					h3.foot-col__title Services
					ul.foot-menu__list
						li.foot-menu__item
							a(href="#overview").foot-menu__link Overview
						li.foot-menu__item
							a(href="#features").foot-menu__link Features
						li.foot-menu__item
							a(href="#technology").foot-menu__link Technology
						li.foot-menu__item
							button.foot-menu__link(type="button" data-modal="") Terms & conditions
						li.foot-menu__item
							button.foot-menu__link(type="button" data-modal="") Privacy
				.footersec__col.foot-col.foot-contacts
					h3.foot-col__title Get in Touch
					a.foot-contacts__item(href="mailto:info@cloudbudget.com") info@cloudbudget.com
					a.foot-contacts__item(href="tel:18447217120") +1 844-721-7120
					.foot-contacts__item.foot-social
						a.foot-social__item(href="#facebook-profile" target="_blank" rel="noopener noreferrer")
							+svg('', 'socials--facebook', 'Facebook', 'facebook icon')
						a.foot-social__item(href="#linkedin-profile" target="_blank" rel="noopener noreferrer")
							+svg('', 'socials--linkedin', 'LinkedIn', 'linkedin icon')
						a.foot-social__item(href="#twitter-profile" target="_blank" rel="noopener noreferrer")
							+svg('', 'socials--twitter', 'Twitter', 'twitter icon')
				.footersec__col.foot-col.foot-pay
					h3.foot-col__title We support
					.foot-pay__item
						img(src="img/pay-sys.png" alt="payment systems")





			.footersec__copy 2020 © CloudBudget