section.hero
	include top-bar.pug

	.hero__content.hero-text
		h1.hero-text__title=config.title
		.hero-text__subtitle Cloud budget management for everyone. Only €69.95 a Month After a 7 Day Trial of <br>Up to €4.99
		button.hero-text__btn.rnd-btn(type="button" data-modal="signup-form") Sign up