.modal__layer(style="display:none")
	.modal__window
		.modal__item#login-form(role="dialog") Some login text.
			button(data-modal="signup-form" style="margin:0 auto;color:red;font-size:26px;") not registered yet?<br>
			input(type="text", name="")
		.modal__item#signup-form(role="dialog") SignUp form will be here
			
			button(data-modal="login-form" style="margin:0 auto;color:red;font-size:26px;") Already registered?
		.modal__item#modal-video(role="dialog") modal video will be here

