section.slider-section
	.inner(tabindex=0)
		.slidersec
			.slidersec__col.slider-text
				h2.slider-text__title.section-title Stay focused on saving money
				.slider-text__desc It is important to stay focused on saving money in any way you can. We help you monitor your spending habits so you can easily spot and cut any unnecessary expenses. Simply join today to get started!
				.slider-text__links
					a(href="#")
						+svg('', 'socials--gplay', 'Google Play', 'google play icon')
					a(href="#")
						+svg('', 'socials--appstore', 'App store', 'appstore icon')
					a(href="#")
						+svg('', 'socials--winstore', 'Microsoft store', 'microsoft store icon')

			.slidersec__col.slider-cont
				img.slider-cont__item(src="img/slider/item1.jpg" alt="man waiting in cafe")
				img.slider-cont__item(src="img/slider/item2.jpg" alt="people meeting")
				img.slider-cont__item(src="img/slider/item3.jpg" alt="people pitching")