section.technology
	.inner(tabindex=0)
		.technologysec#technology
			h2.technology__title.section-title Technology
			ol.technology__list
				li.technology__item.tech-item
					.tech-item__icon
						+svg('', 'icons--tech1', 'Cloud storage', 'cloud icon')
					h3.tech-item__title Cloud Storage
					.tech-item__desc Access your account from anywhere in the world on any device
				li.technology__item.tech-item
					.tech-item__icon
						+svg('', 'icons--tech2', 'Secure', 'shield icon')
					h3.tech-item__title Secure
					.tech-item__desc All your information is stored on secure cloud servers
				li.technology__item.tech-item
					.tech-item__icon
						+svg('', 'icons--tech3', 'PDF Download', 'pdf document icon')
					h3.tech-item__title PDF Download
					.tech-item__desc Download any of your reports in PDF format
				li.technology__item.tech-item
					.tech-item__icon
						+svg('', 'icons--tech4', 'CSV Download', 'csv document icon')
					h3.tech-item__title CSV Download
					.tech-item__desc All your information is stored on secure cloud servers
