header.top-bar
	.inner
		.top-bar__logo.top-logo
			.top-logo__icon
				+svg('', 'icons--cloud', config.title + ' logo', 'cloud icon')
			.top-logo__title=config.title
		nav.top-bar__menu.top-menu
			ul.top-menu__list
				li.top-menu__item
					a.top-menu__link(href="#") Overview
				li.top-menu__item
					a.top-menu__link(href="#") Features
				li.top-menu__item
					a.top-menu__link(href="#") Technology
				li.top-menu__item
					a.top-menu__link(href="#") Contact
				li.top-menu__item
					button.top-menu__link(type="button" data-modal="signup-form") Sign up
		.top-bar__login.top-login
			button.top-login__btn.rnd-btn(type="button" data-modal="login-form") Login