section.video-section
	.inner
		.videosec#overview
			.videosec__col.video-text
				h2.video-text__title.section-title Easy to Use Cloud Budget Management Software
				.video-text__desc Our software is made so you can access and manage your budget and expenses online at any time from any device. It provides detailed income and expense reports with graphs so you can easilly see your spending patterns and budget at a glance. Read below to find out more.
				button.video-text__btn(type="button" data-modal="dummy-modal") Learn More
			.videosec__col.video-cont
				img.video-cont__img(src="img/video-preview.jpg" alt="meeting photo")
				button.video-cont__btn(type="button" data-modal="modal-video" data-video="bIZsnKGV8TE")
					span.visually-hidden Play video
