.contactsec {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 500px;
	padding: 94px 0;
	margin-bottom: 45px;

	&__col {
		flex: 1 1 auto;
		max-width: 50%;

		@include df(720) {
			max-width: 100%;
		}
	}
	.contact-text {
		max-width: 445px;
		padding-right: 30px;

		@include df(720) {
			max-width: 100%;
			padding-right: 0;
		}

		&__title {
			margin-bottom: 2.4rem;
		}
		&__desc {
			margin-bottom: 2.4rem;
			line-height: 2rem;
			font-weight: normal;
		}
	}
	@include df(720) {
		flex-wrap: wrap;
	}
	@include df(540) {
		padding: 44px 0;
	}
}
.cont-form {
	&__row {
		display: flex;
		margin-bottom: 24px;

		&:last-child {
			margin-bottom: 0;
		}

		&--btn {
			justify-content: space-between;
			align-items: center;
		}

		@include df(480) {
			flex-direction: column;
		}
	}
	&__label {
		flex: 1 1 auto;
		max-width: 100%;
		position: relative;

		&:first-child:not(:last-child) {
			margin-right: 15px;

			@include df(960) {
				margin-right: 8px;
			}

			@include df(480) {
				margin-bottom: 24px;
				margin-right: 0;
			}
		}
		&:last-child:not(:first-child) {
			margin-left: 15px;

			@include df(960) {
				margin-left: 8px;
			}

			@include df(480) {
				margin-left: 0;
			}
		}
	}

	&__input {
		display: block;
		width: 100%;
		padding: 20px 30px;
		background-color: $bg-color;
		border: 1px solid #333333;
		border-radius: 6px;
		font-size: 1.6rem;
		line-height: 1.9rem;

		&:focus {
			outline: 0;
			box-shadow: 0 0 0 1px $pink;
			border-color: $pink;
		}


		@include df(1024) {
			padding: 14px 20px;
		}
	}
	&__select {
		option {
			padding: 20px 0;
		}
	}
	&__btn {
		padding: 17px 34px;
		background: $pink;
		color: $bg-color;
		font-size: 1.4rem;
		text-transform: uppercase;

		&:hover {
			background-color: lighten($pink, 6%);
		}

		&--add {
			text-transform: uppercase;
			font-size: 1rem;
			padding: 12px 20px;

			&:hover {
				background-color: $pink;
				color: $bg-color;
			}
		}
	}
}
