.inner {
	max-width: 1110px;
	margin: 0 auto;

	@include df(1120) {
		margin: 0 10px;
	}
}
.section-title {
	font-size: 3.6rem;
	font-weight: 600;
	line-height: 4.3rem;
}
.rnd-btn {
	padding: 12px 28px;
	border-radius: 6px;
	border: 1px solid currentColor;
	transition: all .3s;

	&:focus {
		outline: 0;
		border-color: black;
	}
}
[href^="tel"] {
	white-space: nowrap;
}