$font-path: '../fonts/';
@font-face {
	font-family: 'Lato';
	src: url($font-path + 'latoregular.woff2') format('woff2'),
		url($font-path + 'latoregular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Lato';
	src: url($font-path + 'latosemibold.woff2') format('woff2'),
		url($font-path + 'latosemibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Lato';
	src: url($font-path + 'latobold.woff2') format('woff2'),
		url($font-path + 'latobold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
