.hero {
	min-height: 100vh;
	padding-top: 17px;
	background-image:
		linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%),
		url('../img/hero.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: $bg-color;

	.hero-text {
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		min-height: inherit;
		
		&__title {
			margin-bottom: 40px;
			font-size: 7.2rem;
			font-weight: bold;
			line-height: 8.6rem;

			@include df(540) {
				font-size: 14vw;
				margin-bottom: .4em;
			}
		}
		&__subtitle {
			max-width: 540px;
			margin-bottom: 40px;
			font-weight: 600;
			font-size: 2.4rem;
			line-height: 3.4rem;

			@include df(540) {
				padding: 0 10px;
				margin-bottom: 1.2em;
				font-size: 1.8rem;
			}
		}
		&__btn {
			background-color: $bg-color;
			color: darken($pink, 10%);
			border-color: $bg-color;
	
			&:hover {
				background-color: transparent;
				color: $bg-color;
			}
		}
	}
}
