html.modal-open {
	overflow: hidden;
}
body.modal-open {
	overflow: visible;

	&--w-scroll {
		overflow-y: scroll;
	}
}
.modal__layer {
	visibility: hidden;
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	width: 100%;
	height: 100vh;
	background: transparentize($bg-color, 0.15);
	transition: all 0.4s cubic-bezier(0.32, 0.7, 0.5, 1.35);
	
	&.is-visible {
		display: block;
		visibility: visible;
		opacity: 1;

		.modal__window {
			transform: none;
		}
	}
	.modal__window {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		padding: 1em;
		overflow-y: auto;
		transform: translateY(-100%);
		-webkit-overflow-scrolling: touch;
		transition: inherit;

		.modal__item {
			display: none;
			max-width: 800px;
			position: relative;
			flex: 1 1 auto;
			padding: 1.4em 2.2em;
			margin: auto;
			// overflow: hidden;
			background-color: $bg-color;
			border-radius: 10px 20px 10px 10px;
			box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);

			@include df(1024) {
				padding: 1em 1.6em;
			}
			@include df(425) {
				padding: 0.5em 0.8em;
			}

			.modal__title {
				margin-bottom: 1em;
				text-align: center;
				font-size: 2.8rem;
			}

			&.is-active {
				display: block;
			}
			.modal__close-btn {
				position: absolute;
				top: -10px;
				right: -10px;
				width: 44px;
				height: 44px;
				background-image: url("data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' xmlns='http://www.w3.org/2000/svg' fill='none'%3E%3Cpath d='M3 3l32 32M35 3l-32 32' stroke='%23000' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E");
				background-size: 50%;
				background-color: $bg-color;
				background-repeat: no-repeat;
				background-position: center center;
				border-radius: 50%;
				// box-shadow: 3px -3px 7px 2px rgba(0, 0, 0, 0.5);
				transition: all 0.2s;

				@include mf(1024) {
					&:hover {
						background-color: $pink;
					}
				}
			}
			.modal-video {
				&__wrap {
					position: relative;
					min-height: 500px;
				}
				&__embed {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					width: 100%;
					height: 100%;
				}
			}
			&#dummy-modal {
				max-width: 400px;

				.dummy-modal__inner {
					display: flex;
					justify-content: center;
					align-items: center;
					min-height: 400px;
					font-size: 3rem;
					line-height: 1.4;
					text-transform: uppercase;
					text-align: center;
				}
			}
			&.modal__form {
				max-width: 320px;

				.cont-form {
					&__row {
						margin-bottom: 16px;

						&--btn {
							margin-top: 24px;
							flex-direction: column;
	
							.cont-form__btn {
								margin-bottom: 16px;
							}
						}
					}
					&__input {
						padding: 10px 22px;
					}
				}
			}
		}
	}
}
