.slider-section {
	background-color: $pink;

	.slidersec {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 500px;
		padding: 94px 0;
		color: $bg-color;

		&__col {
			flex: 1 1 auto;
			max-width: 50%;
		}
		.slider-text {
			max-width: 445px;

			&__title {
				margin-bottom: 2.4rem;
			}
			&__desc {
				margin-bottom: 2.4rem;
				line-height: 2rem;
				font-weight: normal;
			}
			&__links {
				display: flex;

				a {
					margin-right: 23px;
					transition: all 0.3s;

					&:hover {
						transform: scale(1.4);
					}

					svg {
						display: block;
						width: 32px;
						height: 32px;
						fill: $bg-color;
					}
				}
			}
			@include df(1024) {
				padding-right: 20px;
			}
			@include df(890) {
				padding-right: 0;
				margin-bottom: 20px;
			}
		}
		.slider-cont {
			position: relative;
			min-height: 320px;
			min-width: 555px;
			cursor: pointer;

			$slide-dur: 0.4s;

			&__item {
				//regular
				position: absolute;
				top: 50%;
				left: 50%;
				border-radius: 15px;
				box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
				transform: translate(-70%, -50%) scale(0.8);
				transition: all $slide-dur;

				&:first-child {
					transform: translate(-30%, -50%) scale(0.8);

					@include df(620) {
						transform: translate(-50%, -50%) scale(0.8);
					}
				}

				&:last-child {
					transform: translate(-50%, -50%) scale(1);
					animation: slide $slide-dur linear 1 forwards;

					@include df(620) {
						transform: translate(-50%, -50%) scale(0.8);
					}
				}
				@keyframes slide {
					0% {
						opacity: 0;
					}
					100% {
						opacity: 1;
					}
				}
				@include df(620) {
					transform: translate(-50%, -50%) scale(0.8);
				}
			}
			@include df(620) {
				min-width: auto;
				max-width: 100%;
				width: 100%;
			}
		}
		@include df(890) {
			flex-direction: column;
		}
	}
}
