.top-bar {
	.inner {
		position: relative;

		.top-bar-sec {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			min-height: 100px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: $bg-color;
			text-transform: uppercase;
		}
	}
}
.top-logo {
	display: flex;
	align-items: center;

	&__icon {
		svg {
			max-width: 29px;
			max-height: 29px;
			fill: $bg-color;
		}
	}
	&__title {
		padding-left: 7px;
		font-weight: bold;
		font-size: 1.8rem;
	}
}

.top-menu {
	&__list {
		display: flex;
	}
	&__item {
		padding: 0 11px;
	}
	&__link {
		font-weight: normal;

		&::after {
			content: "";
			display: block;
			height: 1px;
			background-color: $bg-color;
			transform-origin: left center;
			transform: scaleX(0);
			transition: all 0.3s;
		}

		&:hover {
			text-shadow: 0 0 1px currentColor;

			&::after {
				transform: scaleX(1);
			}
		}
	}
}
.top-login {
	&__btn {
		border-color: $bg-color;

		&:hover {
			background-color: $bg-color;
			color: $pink;
		}
	}
}
.top-burger {
	display: none;

	&__btn {
		margin: 10px;
		border-radius: 50%;
		transition: all 0.4s cubic-bezier(0.62, -0.29, 0.5, 1.26);

		&:focus {
			box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
		}

		&.is-active {
			transform-origin: center;
			transform: rotateZ(90deg);
			box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.4);

			.top-burger__line {
				transition: inherit;
				transform-origin: center;

				&:nth-child(1) {
					transform: rotateZ(45deg) translateY(6px);
				}
				&:nth-child(2) {
					opacity: 0;
				}
				&:nth-child(3) {
					transform: rotateZ(-45deg) translateY(-6px);
				}
			}
		}
	}
	&__icon {
		display: block;
		transition: inherit;
		fill: $bg-color;
	}
	&__line {
		transition: inherit;
	}
}
@include df(848) {
	.top-menu,
	.top-login {
		display: none;
	}
	.top-burger {
		display: block;
	}
}
