@import "_variables.scss";
@import "_fonts.scss";
@import "_resets.scss";

/* BASE */
html {
	font-size: 10px;
}

body {
	background: $bg-color;
	color: $text-color;
	font-size: 1.4rem;
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	letter-spacing: 0.02em;
}

@import "_elements.scss";

@import "_top-menu.scss";

@import "_hero.scss";

@import "_video-section.scss";

@import "_features.scss";

@import "_technology.scss";

@import "_slider-section.scss";

@import "_modal.scss";





// @import "_debug.scss";
